{{ define "more_information" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <h1 class="cover heading">Информация о проекте</h1>
  <p class="lead">Основные функции: </p>
<p class="lead">Удобный интерфейс: Простой и интуитивно понятный интерфейс, который позволяет быстро добавлять, редактировать и удалять задачи.</p>
<p class="lead">Категории и подзадачи: Организуйте свои задачи по категориям и создавайте подзадачи для более комплексных проектов.</p>
<p class="lead">Сроки выполнения: Устанавливайте сроки для задач и получайте уведомления, чтобы ничего не забыть.</p>
<p class="lead">Приоритеты: Устанавливайте приоритеты для задач, чтобы сосредоточиться на самом важном.</p>
<p class="lead">Синхронизация: Доступ к вашим задачам с любого устройства — компьютера, планшета или смартфона.</p>
<p class="lead">Совместная работа: Делитесь списками задач с коллегами или друзьями и работайте вместе над проектами.</p>
<h1 class="cover heading">Начните прямо сейчас!</h1>
  <p class="lead">Связь с автором проекта - Telegram: @KrAiDoN1.</p>
  <p class="lead">Thank You for using.</p>
  <p class="lead">
  </p>
</main>      
{{ template "footer" }}
{{ end }}